
body {
  margin: 0;
  min-height: 300vh;
  background: #f5f7fb;
  
}

.hexagone {
  position: fixed;
  transform: translateX(0px) rotate(0deg);
  transform-origin: center;
  transform-box: fill-box;
}
  

html {
  scrollbar-width: none;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}



